* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;

}


.container {
    padding: 10px;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;

}

label {
    margin: 10px 0;
    display: block;
    width: 100%;

}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
    background-color: yellow;
    ;

}

input[type=submit] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

form+div {
    display: flex;
    align-items: flex-start;
}